extend partials/layout

block content
    .row
        .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8.col-lg-offset-2.col-lg-8
            .row.inp
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    input.form-control.input-lg.firtsInp(type='text')
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                    input.form-control.input-lg.lastInp(type='text')

    script(src='/js/dictionary.js')