extends partials/layout

block content
    .row
        include partials/uploadImgForm

        - var avatar = otherUser ? otherUser.avatar : user.avatar;

        img(src='img/avatar/' + avatar)#avatar.col-lg-3.col-md-3.col-sm-3.col-xs-3
    if (!otherUser)
        .row
            br
            button#uploadBtn.btn.btn-primary.col-lg-3.col-md-3.col-sm-3.col-xs-3(data-toggle='modal', data-target='#imgUploadModal') Загрузить аватар

    script.
        $('#avatar').error(function () {
            $(this).attr('src', 'img/avatar/default.jpg');
        })