extends partials/layout

block content
    .row
        img#avatar.col-lg-3.col-md-3.col-sm-3.col-xs-3

        script.
            $(document).ready(function () {
                $('#avatar')
                    .error(function () {
                        $(this).attr('src', 'img/avatar/default.jpg');
                    })
                    .attr('src', 'img/avatar/#{username}.jpg');
            });