body {
    background-color: #57FF84;
    font-size: 16px;
}

#avatar {
    border-radius: 15%;
}

#dropZone {
    text-align: center;
}

#dropZone {
    height: 250px;

    padding: 50px;

    border: 2px dashed dodgerblue;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#dropZone.hover {
    border: 2px solid dodgerblue;
}

#dropZone.error {
    border: 2px solid #D4403B;
}

#dropZone.success {
    border: 2px solid #26D347;
}

.dropdown-form {
    padding: 2px 5px;
}

.dropdown-menu {
    background-color: #333;
    border: #fff;
}

.btn-inverse {
    background-color: #333;
    color: #999;
    border-color: #000;
}

.btn-inverse:hover {
    color: #fff;
}

#dropdown-input-width {
    width: 280px;
}